body{
	font-family: Mansalva;
	color: #e9e4d4;
	background-color: black;
	background-image: url(gifs/Comp_1.gif);
	background-size: cover;
	background-repeat: no-repeat;

}

/*#h1
	color: #e9e4d4;
	font-size: 75px;
	margin-top: 10px;
	text-align: center; 

}*/

